<h3>Страница для вывода результатов подсчета</h3>
<p id="result">
  <% if @result.nil? %>
  <p>введите корректные данные</p>
<%else%>
  <% if @result.empty? %>
    <p>соответствующих пар нет</p>
  <%else%>
    <table>
      <% @result.each do |elem| %>
        <tr>
          <td><%= elem - 2%></td>
          <td><%= elem%></td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
</p>